<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
    </style>
    <title>URL - Shortner</title>
  </head>
  <body>
    <h1>URL Shortner</h1>
    <% if (locals.id) { %>
    <p>
      URL generated:
      <a
        href="http://localhost:8001/url/<%= id %>"
        target="_blank"
        rel="noopener noreferrer"
        >http://localhost:8001/url/<%= id %></a
      >
    </p>
    <% } %>
    <div>
      <form method="POST" action="/url/">
        <label for="">Enter your Original URL: </label>
        <input type="url" placeholder="https://example.com" name="url" id="" />
        <button type="submit">Generate</button>
      </form>
    </div>
    <div>
      <table>
        <thead>
          <th>Sr. No.</th>
          <th>ShortId</th>
          <th>Redirects</th>
          <th>clicks</th>
        </thead>
        <tbody>
          <% urls.forEach((url, index) => { %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= url.shortId %></td>
            <td><%= url.redirectUrl %></td>
            <td><%= url.visitHistory.length %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
